@charset "UTF-8";
/*
Paleta de cores
verde: #49a09d
lilas: #5f2c82
*/
*{
    font-family: "Century Gothic", SansSerif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body, html{
    background-color: #5f2c82;
    height: 100vh;
    width: 100vh;
}
main{
    position: relative;
    height: 100vh;
    width: 100vw;
}
section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.55);
    transition: width 1s, height 1s;
    transition-timing-function: ease;
}
section#login > div#imagem{
    display: block;
    background: #5f2c82 url("../imagens/aron-visuals-BXOXnQ26B7o-unsplash.jpg");
    background-size: cover;
    height: 200px;
}
section#login > div#formulario{
    padding: 10px;
    display: block;
}